# Ignore everything
*

# Whitelist source files
!*.c
!*.h
!*.md
!Makefile
!*.py

# Keep directories
!*/

# Keep GitHub Actions CI folder
!/.github/
!/.github/workflows/
!/.github/workflows/c-build.yml

# Ignore compiled artifacts and debug files
*.o
*.out
*.elf
test_memcpy
test_memcpy_small
.gdb_history

